In [1]:
# Dependencies
from sqlalchemy import create_engine
import requests
import pandas as pd
from config import api_key

In [2]:
# Save config information.
url = "http://api.openweathermap.org/data/2.5/weather?"
units = "metric"

# Build partial query URL
query_url = f"{url}appid={api_key}&units={units}&q="

In [3]:
import config as config
from sqlalchemy import create_engine
# creating connection url and connectiong to Postgres DB
connURL = f"postgresql://{config.mysql['user']}:{config.mysql['password']}{config.mysql['url']}"
print(connURL)
engine = create_engine(connURL)

postgresql://postgres:sql@localhost:5432/travelEurope

In [4]:
latlondf = pd.read_sql_query("select hostel_travel.country_name,  hostel_travel.city_name from hostel_travel left join country_travel on hostel_travel.country_name = country_travel.country_name", con=engine)
cities = (latlondf['city_name'] + ', ' + latlondf['country_name']).to_list()
latlondf.head()

  country_name  city_name
0      Ukraine       Kiev
1       Poland     Krakow
2       Serbia   Belgrade
3      Romania  Bucharest
4     Bulgaria      Sofia

In [5]:
# set up lists to hold reponse info
lat = []
lon = []

# Loop through the list of cities and perform a request for data on each
for city in cities:
        try:
            response = requests.get(query_url + city).json()
            #print(query_url + city)
            lat.append(response['coord']['lat'])
            lon.append(response['coord']['lon'])
        except:
            print(f"{city} not found, skipping to next city!")
            lat.append(0)
            lon.append(0)
        
        continue
print(f"The latitude information received is: {lat}")
print(f"The temperature information received is: {lon}")

Santorini, Greece not found, skipping to next city!
Luxembourg City, Luxembourg not found, skipping to next city!
The latitude information received is: [50.43, 50.06, 44.82, 44.44, 42.7, 47.5, 45.81, 56.95, 41.01, 52.23, 48.81, 54.69, 48.15, 43.51, 0, 59.94, 46.05, 50.09, 59.44, 9.9, 35.9, 37.98, 40.84, 38.71, 55.75, 40.42, 53.55, -1.05, 43.7, 52.52, 47.8, 34.2, 42.65, 53.35, 51.21, 41.38, 48.14, 0, 41.89, 48.21, 50.85, 45.47, 48.86, 60.39, 46.69, 60.17, 59.33, 59.91, 64.15, 27.1, 47.37]
The temperature information received is: [30.52, 19.94, 20.46, 26.1, 23.32, 19.04, 15.98, 24.11, 28.95, 21.01, 14.31, 25.28, 17.11, 16.44, 0, 30.32, 14.51, 14.42, 24.75, -74.86, 14.51, 23.73, 14.25, -9.14, 37.62, -3.7, 10, -78.45, 7.27, 13.39, 13.05, -79.77, 18.09, -6.26, 3.23, 2.18, 11.58, 0, 12.48, 16.37, 4.35, 9.19, 2.35, 5.33, 7.86, 24.94, 18.07, 10.74, -21.94, -82.45, 8.54]

In [7]:
latlondf['latitude'] = lat
latlondf['longitude'] = lon
latlondf.head()

  country_name  city_name  latitude  longitude
0      Ukraine       Kiev     50.43      30.52
1       Poland     Krakow     50.06      19.94
2       Serbia   Belgrade     44.82      20.46
3      Romania  Bucharest     44.44      26.10
4     Bulgaria      Sofia     42.70      23.32

In [8]:
engine.table_names()

['hostel_travel', 'latitude_longitude', 'country_travel']

In [9]:
latlondf.to_sql(name='latitude_longitude', con=engine, if_exists='append', index=False)

In [10]:
pd.read_sql_query('select * from latitude_longitude', con=engine).head()

   id country_name  city_name  latitude  longitude
0   1      Ukraine       Kiev     50.43      30.52
1   2       Poland     Krakow     50.06      19.94
2   3       Serbia   Belgrade     44.82      20.46
3   4      Romania  Bucharest     44.44      26.10
4   5     Bulgaria      Sofia     42.70      23.32