In [1]:
# importing the pandas library
import pandas as pd

In [2]:
# setting up the csv path and import to data frame
filePath = "Resources/purchase_data.csv"
mainDF = pd.read_csv(filePath)
mainDF.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Players Count

* Total Number of Players

In [3]:
uniquePlayer = mainDF["SN"].nunique()
#print("Total Number of Players: " + str(uniquePlayer))
totPlayerDF = pd.DataFrame({
    "Total Players": [uniquePlayer]},
    columns= ["Total Players"])
totPlayerDF.head()

   Total Players
0            576

# Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [4]:
uniqueTotalItems = mainDF['Item ID'].nunique()
totPurchase = mainDF['Price'].count()
totRevenue = mainDF["Price"].sum()
avgprice = (totRevenue/totPurchase).round(2)
colName = ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]

# presenting data into Purchasing Analysis data frame to present
purchaseAnalysisDF = pd.DataFrame({"Number of Unique Items": [uniqueTotalItems], 
                              "Average Purchase Price": [avgprice],
                             "Number of Purchases": [totPurchase],
                             "Total Revenue": [totRevenue]},
                              columns=colName)

# format the float columns
purchaseAnalysisDF["Average Purchase Price"] = purchaseAnalysisDF["Average Purchase Price"].map('${:.2f}'.format)
purchaseAnalysisDF["Total Revenue"] = purchaseAnalysisDF["Total Revenue"].map('${:.2f}'.format)
purchaseAnalysisDF.head()

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,$3.05,780,$2379.77

# Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [5]:
# set data frame group by Gender
genderGroupByDF = mainDF.groupby(["Gender"])
totCount = genderGroupByDF["SN"].nunique().sum()
totCountByGender = genderGroupByDF["SN"].nunique()
percOfPlayers = (totCountByGender/totCount) * 100
genderDemographicDF = pd.DataFrame({
    "Total Count": totCountByGender,
    "Percentage of Players": percOfPlayers
})

# sort by the percentage of players
genderDemographicDF = genderDemographicDF.sort_values(["Percentage of Players"], ascending=False).head()

# format the float columns
genderDemographicDF["Percentage of Players"] = genderDemographicDF["Percentage of Players"].map('{:.2f}%'.format)
genderDemographicDF.head()

                       Total Count Percentage of Players
Gender
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

# Purchasing Analysis (Gender)

* The below each broken by gender

    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Gender

In [6]:
# set data frame group by Gender
purchaseCount = genderGroupByDF["Gender"].count()
avgPurchasePrice = genderGroupByDF["Price"].mean()
totPurchasePrice = genderGroupByDF["Price"].sum()
totAgeCount = genderGroupByDF["SN"].nunique()
avgTotPurchasePPGender = totPurchasePrice/totAgeCount

# presenting data into Purchasing Analysis (Gender) data frame to present
genderPurchaseAnalysisDF = pd.DataFrame({
    "Purchase Count": purchaseCount,
    "Average Purchase Price": avgPurchasePrice,
    "Total Purchase Value": totPurchasePrice,
    "Avg Purchase Total PP By Gender": avgTotPurchasePPGender
})

# format the float columns
genderPurchaseAnalysisDF["Average Purchase Price"] = genderPurchaseAnalysisDF["Average Purchase Price"].map('${:.2f}'.format)
genderPurchaseAnalysisDF["Total Purchase Value"] = genderPurchaseAnalysisDF["Total Purchase Value"].map('${:.2f}'.format)
genderPurchaseAnalysisDF["Avg Purchase Total PP By Gender"] = genderPurchaseAnalysisDF["Avg Purchase Total PP By Gender"].map('${:.2f}'.format)
genderPurchaseAnalysisDF.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total PP By Gender
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

# Age Demographics

* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

In [7]:
# creating bins anf labels
ageDemographicBin = [0, 9, 14, 19, 24, 29, 34, 39, 99999]
ageDemographicLabel = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# applying the bin ranges on age
mainDF["Age Range"] = pd.cut(x=mainDF["Age"], bins=ageDemographicBin, right=False, labels=ageDemographicLabel)

# total count of each age bin and percentage
totCountAgeDemographic = mainDF["Age Range"].value_counts()
ageDemographicPerc = ((totCountAgeDemographic / uniquePlayer) * 100).round(2)
ageDemographicDF = pd.DataFrame({
    "Total Count": totCountAgeDemographic,
    "Percentage of Players": ageDemographicPerc})

ageDemographicDF = ageDemographicDF.sort_index()

# format the float columns
ageDemographicDF["Percentage of Players"] = ageDemographicDF["Percentage of Players"].map('{:.2f}%'.format)
ageDemographicDF.head(10)

       Total Count Percentage of Players
<10             17                 2.95%
10-14           32                 5.56%
15-19          115                19.97%
20-24          321                55.73%
25-29          155                26.91%
30-34           77                13.37%
35-39           44                 7.64%
40+             19                 3.30%

# Age Demographics (Purchase Analysis)

* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Age Group

In [8]:
# applying the bin ranges on age
mainDF["Age Range"] = pd.cut(x=mainDF["Age"], bins=ageDemographicBin, labels=ageDemographicLabel)
# group by the age range
ageGroupByDF = mainDF.groupby(["Age Range"])
#ageGroupByDF.head()

In [9]:
# getting the values: purchase count, average purchase price, total purchase value, average purchase total pp
purchaseCount = ageGroupByDF["Purchase ID"].count()
avgPurchasePrice = ageGroupByDF["Price"].mean()
totPurchaseValue = ageGroupByDF["Price"].sum()
totAgeCount = ageGroupByDF["SN"].nunique()
avgPurchasePricePP = totPurchaseValue/totAgeCount

# create data frame for the above values for Age Purchase Analysis
ageDemographicAnalysisDF = pd.DataFrame({"Purchase Count": purchaseCount,
                                 "Average Purchase Price": avgPurchasePrice,
                                 "Total Purchase Value":totPurchaseValue,
                                 "Average Purchase Total Per Person": avgPurchasePricePP})

# format the float columns
ageDemographicAnalysisDF["Average Purchase Price"] = ageDemographicAnalysisDF["Average Purchase Price"].map('${:.2f}'.format)
ageDemographicAnalysisDF["Total Purchase Value"] = ageDemographicAnalysisDF["Total Purchase Value"].map('${:.2f}'.format)
ageDemographicAnalysisDF["Average Purchase Total Per Person"] = ageDemographicAnalysisDF["Average Purchase Total Per Person"].map('${:.2f}'.format)
ageDemographicAnalysisDF.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age Range,,,,
<10,23,$3.35,$77.13,$4.54
10-14,28,$2.96,$82.78,$3.76
15-19,136,$3.04,$412.89,$3.86
20-24,365,$3.05,$1114.06,$4.32
25-29,101,$2.90,$293.00,$3.81
30-34,73,$2.93,$214.00,$4.12
35-39,41,$3.60,$147.67,$4.76
40+,13,$2.94,$38.24,$3.19

# Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

    * SN
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value

In [10]:
# group by the player name
playerGroupByDF = mainDF.groupby(["SN"])
#playerGroupByDF.head()

In [11]:
# getting the values: Purchase Count, Average Purchase Price, Total Purchase Value
purchaseCount = playerGroupByDF["Purchase ID"].count()
avgPurchasePrice = playerGroupByDF["Price"].mean()
totalPurchaseValue = playerGroupByDF["Price"].sum()

# create data frame for the above values for Total Spenders
totalSpendersDF = pd.DataFrame({"Purchase Count": purchaseCount,
                             "Average Purchase Price": avgPurchasePrice,
                             "Total Purchase Value":totalPurchaseValue})

# top five spenders from the descending order list
totalSpendersDF = totalSpendersDF.sort_values(["Total Purchase Value"], ascending=False).head()

# format the float columns
totalSpendersDF["Average Purchase Price"] = totalSpendersDF["Average Purchase Price"].map('${:.2f}'.format)
totalSpendersDF["Total Purchase Value"] = totalSpendersDF["Total Purchase Value"].map('${:.2f}'.format)
totalSpendersDF.head(10)

             Purchase Count Average Purchase Price Total Purchase Value
SN
Lisosia93                 5                  $3.79               $18.96
Idastidru52               4                  $3.86               $15.45
Chamjask73                3                  $4.61               $13.83
Iral74                    4                  $3.40               $13.62
Iskadarya95               3                  $4.37               $13.10

# Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):

    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [12]:
# get data frame for the items and group by on Item ID and Item Name
itemsDF = mainDF[["Item ID", "Item Name", "Price"]].groupby(["Item ID", "Item Name"])
totItemPurchaseCount = itemsDF["Price"].count()
totItemPurchaseValue = itemsDF["Price"].sum()
perItemPrice = totItemPurchaseValue/totItemPurchaseCount

itemsDF = pd.DataFrame({"Purchase Count": totItemPurchaseCount, 
                                   "Item Price": perItemPrice,
                                   "Total Purchase Value":totItemPurchaseValue})

# top five popular items from the descending order list
topPopularItemsDF = itemsDF.sort_values(["Purchase Count"], ascending=False).head()

# format the float columns
topPopularItemsDF["Item Price"] = topPopularItemsDF["Item Price"].map('${:.2f}'.format)
topPopularItemsDF["Total Purchase Value"] = topPopularItemsDF["Total Purchase Value"].map('${:.2f}'.format)
topPopularItemsDF.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
145,Fiery Glass Crusader,9,$4.58,$41.22
108,"Extraction, Quickblade Of Trembling Hands",9,$3.53,$31.77
82,Nirvana,9,$4.90,$44.10
19,"Pursuit, Cudgel of Necromancy",8,$1.02,$8.16

# Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):

    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [13]:
# top five profitable items from the descending order list
topPopularItemsDF = itemsDF.sort_values(["Total Purchase Value"], ascending=False).head()

# format the float columns
topPopularItemsDF["Item Price"] = topPopularItemsDF["Item Price"].map('${:.2f}'.format)
topPopularItemsDF["Total Purchase Value"] = topPopularItemsDF["Total Purchase Value"].map('${:.2f}'.format)
topPopularItemsDF.head(10)

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,$4.23,$50.76
82,Nirvana,9,$4.90,$44.10
145,Fiery Glass Crusader,9,$4.58,$41.22
92,Final Critic,8,$4.88,$39.04
103,Singed Scalpel,8,$4.35,$34.80