In [2]:
# importing the pandas library
import pandas as pd

In [3]:
# setting up the csv path and import to data frame
filePath = "Resources/purchase_data.csv"
mainDF = pd.read_csv(filePath)
mainDF.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

# Players Count

* Total Number of Players

In [15]:
uniquePlayer = mainDF["SN"].nunique()
#print("Total Number of Players: " + str(uniquePlayer))
totPlayerDF = pd.DataFrame({
    "Total Players": [uniquePlayer]},
    columns= ["Total Players"])
totPlayerDF.head()

   Total Players
0            576

# Purchasing Analysis (Total)

* Number of Unique Items
* Average Purchase Price
* Total Number of Purchases
* Total Revenue

In [16]:
uniqueTotalItems = mainDF['Item ID'].nunique()
totPurchase = mainDF['Price'].count()
totRevenue = mainDF["Price"].sum()
avgprice = (totRevenue/totPurchase).round(2)
colName = ["Number of Unique Items", "Average Purchase Price", "Number of Purchases", "Total Revenue"]

# presenting data into Purchasing Analysis data frame to present
purchaseAnalysisDF = pd.DataFrame({"Number of Unique Items": [uniqueTotalItems], 
                              "Average Purchase Price": [avgprice],
                             "Number of Purchases": [totPurchase],
                             "Total Revenue": [totRevenue]},
                              columns=colName)
# format the float columns
purchaseAnalysisDF.style.format({
    "Average Purchase Price": "${:.2f}",
    "Total Revenue": "${:.2f}"})
purchaseAnalysisDF.head()

,Number of Unique Items,Average Purchase Price,Number of Purchases,Total Revenue
0,183,3.05,780,2379.77

# Gender Demographics

* Percentage and Count of Male Players
* Percentage and Count of Female Players
* Percentage and Count of Other / Non-Disclosed

In [17]:
totPlayer = mainDF["SN"].nunique()
genderMale = mainDF[mainDF["Gender"] == "Male"]["SN"].nunique()
genderFemale = mainDF[mainDF["Gender"] == "Female"]["SN"].nunique()
#genderOther = mainDF[mainDF["Gender"] == "Other / Non-Disclosed"].nunique()
genderOther = totPlayer - (genderMale + genderFemale)
genderMalePerc = ((genderMale/totPlayer)*100)
genderFemalePerc = ((genderFemale/totPlayer)*100)
genderOtherPerc = ((genderOther/totPlayer)*100)
colName = ["Gender", "Total Count", "Percentage of Players"]

# presenting data into Gender Demographics data frame to present
genderDemographicDF = pd.DataFrame({
    "Gender": ["Male", "Female", "Other/ Non-Disclosed"],
    "Total Count": [genderMale, genderFemale, genderOther],
    "Percentage of Players": [genderMalePerc, genderFemalePerc, genderOtherPerc]},
    columns = colName)
# format the float columns
genderDemographicDF = genderDemographicDF.set_index("Gender")
genderDemographicDF.style.format({
    "Total Count": "{:.0f}",
    "Percentage of Players": "{:.2f}%"
})
genderDemographicDF.head()

                      Total Count  Percentage of Players
Gender
Male                          484              84.027778
Female                         81              14.062500
Other/ Non-Disclosed           11               1.909722

# Purchasing Analysis (Gender)

* The below each broken by gender

    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Gender

In [18]:
totMalePurchase = mainDF[mainDF["Gender"] == "Male"]["Price"].count()
totFemalePurchase = mainDF[mainDF["Gender"] == "Female"]["Price"].count()
# 'totPurchase' from Purchasing Analysis data above
totOtherPurchase = totPurchase - (totMalePurchase + totFemalePurchase)
malePriceAvg = mainDF[mainDF["Gender"] == "Male"]['Price'].mean()
femalePriceAvg = mainDF[mainDF["Gender"] == "Female"]['Price'].mean()
otherPriceAvg = mainDF[mainDF["Gender"] == "Other / Non-Disclosed"]['Price'].mean()
malePriceTot = mainDF[mainDF["Gender"] == "Male"]['Price'].sum()
femalePriceTot = mainDF[mainDF["Gender"] == "Female"]['Price'].sum()
otherPriceTot = mainDF[mainDF["Gender"] == "Other / Non-Disclosed"]['Price'].sum()
# 'genderMale', 'genderFemale', 'genderOther' from Gender Demographic data above
maleAvgPurchaseTot = malePriceTot/genderMale
femaleAvgPurchaseTot = femalePriceTot/genderFemale
otherAvgPurchaseTot = otherPriceTot/genderOther
colName = ["Gender", "Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Purchase Total PP By Gender"]

# presenting data into Purchasing Analysis (Gender) data frame to present
genderPurchaseAnalysisDF = pd.DataFrame({
    "Gender": ["Female", "Male", "Other / Non-Disclosed"], 
    "Purchase Count": [totFemalePurchase, totMalePurchase, totOtherPurchase],
    "Average Purchase Price": [femalePriceAvg, malePriceAvg, otherPriceAvg], 
    "Total Purchase Value": [femalePriceTot, malePriceTot, otherPriceTot],
    "Avg Purchase Total PP By Gender": [femaleAvgPurchaseTot, maleAvgPurchaseTot, otherAvgPurchaseTot]},
    columns = colName)
# format the float columns                                        
genderPurchaseAnalysisDF = genderPurchaseAnalysisDF.set_index("Gender")
genderPurchaseAnalysisDF.style.format({
    "Average Purchase Price": "${:.2f}", 
    "Total Purchase Value": "${:.2f}", 
    "Avg Purchase Total PP By Gender": "${:.2f}"})
genderPurchaseAnalysisDF.head()

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Purchase Total PP By Gender
Gender,,,,
Female,113,3.203009,361.94,4.468395
Male,652,3.017853,1967.64,4.065372
Other / Non-Disclosed,15,3.346000,50.19,4.562727

# Age Demographics

* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

In [24]:
ageDemographicBin = [0, 9.99, 14.99, 19.99, 24.99, 29.99, 34.99, 39.99, 99999]
ageDemographicLabel = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

# applying the bin ranges on age
mainDF["Age Range"] = pd.cut(x=mainDF["Age"], bins=ageDemographicBin, labels=ageDemographicLabel)

# total count of each age bin and percentage
totCountAgeDemographic = mainDF["Age Range"].value_counts()
ageDemographicPerc = ((totCountAgeDemographic / uniquePlayer) * 100).round(2)

ageDemographicDF = pd.DataFrame({
    "Total Count": totCountAgeDemographic,
    "Percentage of Players": ageDemographicPerc})

ageDemographicDF = ageDemographicDF.sort_index()
# format the float columns
ageDemographicDF.style.format({
    "Percentage of Players": "{:.2f}%"})
ageDemographicDF.head(10)

       Total Count  Percentage of Players
<10             23                   3.99
10-14           28                   4.86
15-19          136                  23.61
20-24          365                  63.37
25-29          101                  17.53
30-34           73                  12.67
35-39           41                   7.12
40+             13                   2.26

# Age Demographics (Purchase Analysis)

* The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)

    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value
    * Average Purchase Total per Person by Age Group

In [9]:
# group by the age range
ageGroupByDF = mainDF.groupby(["Age Range"])
#ageGroupByDF.head()

In [25]:
# getting the values: purchase count, average purchase price, total purchase value, average purchase total pp
purchaseCount = ageGroupByDF["Purchase ID"].count()
avgPurchasePrice = ageGroupByDF["Price"].mean()
totPurchaseValue = ageGroupByDF["Price"].sum()
totAgeCount = ageGroupByDF["SN"].nunique()
avgPurchasePricePP = totPurchaseValue/totAgeCount

# create data frame for the above values for Age Purchase Analysis
ageDemographicAnalysisDF = pd.DataFrame({"Purchase Count": purchaseCount,
                                 "Average Purchase Price": avgPurchasePrice,
                                 "Total Purchase Value":totPurchaseValue,
                                 "Average Purchase Total Per Person": avgPurchasePricePP})

# format the float columns
ageDemographicAnalysisDF.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total Per Person":"${:,.2f}"})
ageDemographicAnalysisDF.head(10)

,Purchase Count,Average Purchase Price,Total Purchase Value,Average Purchase Total Per Person
Age Range,,,,
<10,23,3.353478,77.13,4.537059
10-14,28,2.956429,82.78,3.762727
15-19,136,3.035956,412.89,3.858785
20-24,365,3.052219,1114.06,4.318062
25-29,101,2.900990,293.00,3.805195
30-34,73,2.931507,214.00,4.115385
35-39,41,3.601707,147.67,4.763548
40+,13,2.941538,38.24,3.186667

# Top Spenders

* Identify the the top 5 spenders in the game by total purchase value, then list (in a table):

    * SN
    * Purchase Count
    * Average Purchase Price
    * Total Purchase Value

In [11]:
# group by the player name
playerGroupByDF = mainDF.groupby(["SN"])
#playerGroupByDF.head()

In [26]:
# getting the values: Purchase Count, Average Purchase Price, Total Purchase Value
purchaseCount = playerGroupByDF["Purchase ID"].count()
avgPurchasePrice = playerGroupByDF["Price"].mean()
totalPurchaseValue = playerGroupByDF["Price"].sum()

# create data frame for the above values for Total Spenders
totalSpendersDF = pd.DataFrame({"Purchase Count": purchaseCount,
                             "Average Purchase Price": avgPurchasePrice,
                             "Total Purchase Value":totalPurchaseValue})

# top five spenders from the descending order list
totalSpendersDF = totalSpendersDF.sort_values(["Total Purchase Value"], ascending=False).head()
# format the float columns
totalSpendersDF.style.format({
    "Average Purchase Price":"${:,.2f}",
    "Total Purchase Value":"${:,.2f}"})
totalSpendersDF.head()

             Purchase Count  Average Purchase Price  Total Purchase Value
SN
Lisosia93                 5                3.792000                 18.96
Idastidru52               4                3.862500                 15.45
Chamjask73                3                4.610000                 13.83
Iral74                    4                3.405000                 13.62
Iskadarya95               3                4.366667                 13.10

# Most Popular Items

* Identify the 5 most popular items by purchase count, then list (in a table):

    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [27]:
# get data frame for the items and group by on Item ID and Item Name
itemsDF = mainDF[["Item ID", "Item Name", "Price"]].groupby(["Item ID", "Item Name"])
totItemPurchaseCount = itemsDF["Price"].count()
totItemPurchaseValue = itemsDF["Price"].sum()
perItemPrice = totItemPurchaseValue/totItemPurchaseCount

itemsDF = pd.DataFrame({"Purchase Count": totItemPurchaseCount, 
                                   "Item Price": perItemPrice,
                                   "Total Purchase Value":totItemPurchaseValue})

# top five popular items from the descending order list
topPopularItemsDF = itemsDF.sort_values(["Purchase Count"], ascending=False).head()
# format the float columns
topPopularItemsDF.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
topPopularItemsDF.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
145,Fiery Glass Crusader,9,4.58,41.22
108,"Extraction, Quickblade Of Trembling Hands",9,3.53,31.77
82,Nirvana,9,4.90,44.10
19,"Pursuit, Cudgel of Necromancy",8,1.02,8.16

# Most Profitable Items

* Identify the 5 most profitable items by total purchase value, then list (in a table):

    * Item ID
    * Item Name
    * Purchase Count
    * Item Price
    * Total Purchase Value

In [28]:
# top five profitable items from the descending order list
topPopularItemsDF = itemsDF.sort_values(["Total Purchase Value"], ascending=False).head()
# format the float columns
topPopularItemsDF.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})
topPopularItemsDF.head()

,,Purchase Count,Item Price,Total Purchase Value
Item ID,Item Name,,,
178,"Oathbreaker, Last Hope of the Breaking Storm",12,4.23,50.76
82,Nirvana,9,4.90,44.10
145,Fiery Glass Crusader,9,4.58,41.22
92,Final Critic,8,4.88,39.04
103,Singed Scalpel,8,4.35,34.80